.app__specialMenu {
    background: var(--color-black);
    display: flex;
    flex-direction: column;
}
.app__specialMenu-title {
    margin-bottom: 2rem;
    text-align: center;
}
.app__specialMenu-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.app__specialMenu-content_drinks,
.app__specialMenu-content_cocktails {
    flex: 1;
    width: 100%;
    flex-direction: column;
}
.app__specialMenu-content_drinks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.app__specialMenu-content_heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-base);
    font-weight: 600;
    font-size: 45px;
    line-height: 58.5px;
    letter-spacing: 0.04em;
    color: var(--color-white);
    font-size: 45px !important;
}

.app__specialMenu-content_items {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    width: 100%;
}
.app__specialMenu-content_image {
    width: 410px;
    margin: 0 2rem;
}
.app__specialMenu-content_image img {
    width: 100%;
    height: auto;
}

.app__specialMenu-content_cocktails {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}




@media screen and (min-width: 2000px) {
    .app__specialMenu-content_image {
        width: 650px;
    }

    .app__specialMenu-content_image img {
        height: 920px;
    }
}

@media screen and (max-width: 1150px) {
    .app__specialMenu-content {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .app__specialMenu-content_image {
        margin: 3rem 0;
    }
}

@media screen and (max-width: 650px) {
    .app__specialMenu-content_image {
        width: 100%;
    }

    .app__specialMenu-content_heading {
        font-size: 35px;
        line-height: 48.5px;
    }
}